.App {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: url(https://media.istockphoto.com/photos/empty-tabletop-in-the-coffe-shop-picture-id1191879835?k=6&m=1191879835&s=612x612&w=0&h=WPZgQUy59Rbgc0XjVnh3q9M7inS5XxLaywK0LirQxc4=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


