body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userOrder {
  text-align: left;
  border: 5px solid black;
  max-height: 100px;
  max-height: 300px;
  padding: 100px;
  padding-top: 10px;
  padding-bottom: 300px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: white;
}

/* CSS for the About page */
.AboutParagraph {
  text-align: left;
  border: 5px solid black;
  max-height: 300px;
  max-width: 2000px;
  padding: 100px;
  padding-top: 10px;
  padding-bottom: 300px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: rgba(255,255,255,0.4);
}

.About_Pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.footer {
  display: center;
}

#AboutSpan {
  display: center;
  margin-right: 5px;
  margin-left: 170px;
  font-weight: bolder;
  font-size: 20px;
}

#SpanLink {
  margin-right: 100px
}